/* NAVBAR */
* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    background-color:black;
    color: white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 30px;
}
.logo{
    font-family: "Cinzel", serif;
    font-optical-sizing:auto;
    font-size:40px;
    font-style: bold;
}

.nav-links {
    list-style: none;
    display:flex;
    gap: 10px;
}
.nav-links a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 254, 254);
    transition: color 0.2s;
    font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}
.nav-links a:hover {
    color: aqua;
}

/* HERO SECTION */
.hero-section{
    padding: 190px;
    text-align: center;
    background: url("https://i.pinimg.com/1200x/8e/8f/13/8e8f1351de6cce72cb04f18339900b55.jpg");
    background-repeat: no-repeat;
    width: 980px;    
    background-size:100%;
}
.hero-section h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: black;
    animation: fadeInUp 0.8s ease;
    }
.hero-title {
    animation: fadeInUp 0.8s ease;
}
.tagline {
    text-align: center;
    animation: fadeInUp 1s ease;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(36, 36, 36);
    margin-bottom: 30px;
}
.hero-buttons {
    animation: fadeInUp 1.2s ease;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn{
    border: 2px solid transparent;
    text-decoration: none;
    padding: 7px;
    border-radius: 8px;
    font-weight: bold;
    gap: 10px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.btn-primary{
    background-color: transparent;
    color: black;
    transition: 0.3s;
}
.btn-primary:hover{
    background: black;
    color: white;
}
.btn-secondary{
    background: transparent;
    color: black;
    transition: 0.3s;
}
.btn-secondary:hover{
    background: black;
    color: white;
}
 
/* ABOUT SECTION */
.about-section{
    background: url("https://i.pinimg.com/1200x/43/18/9b/43189b04bc817001145c5f9d6d4011d1.jpg");
    background-repeat: no-repeat;
    width: 1160px;
    background-size:100%;
    text-align:center;
    padding: 100px;
    animation: fadeInUp 1.2s ease;
}
.about-section h2{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0px;
    font-size: 25px;
    color: black;
}
.about-content{
     display: flex;
     justify-content:right;
}
.profile-figure img{
    height: 380px;
    width: 370px;
    margin-bottom: 0px;
    margin-right: 100px;
}
.about-text{
    padding-top: 80px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color:black;
    margin-top: 0px;
}
figcaption{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0);
    font-size:15px;
    margin-right: 120px;
    margin-top: 10px;
    color: rgb(36, 1, 1);
}

/* Skills Section */
.skills-section{
    background: url("https://i.pinimg.com/1200x/f6/7b/39/f67b39015118b45e85b24a6a91972a93.jpg");
    background-repeat: no-repeat;
    width: 1200px ;
    background-size: 100%;
    text-align: center;
}
.skills-grid{
    position: relative;
    overflow: hidden;
    animation: fadeInUp 0.8s ease;
}
.skills-section h2{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: black;
    animation: fadeInUp 0.8s ease;
}
.c-logo{
    margin-left: 80px;
}
.js-logo {
    position: absolute;
    right: 180px;
    top: 80%;
    transform: translateY(-50%);
    width: 180px;
}

/* PROJECTS SECTION */
.project-grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.project-section {
    background: url("https://i.pinimg.com/1200x/6c/9c/5b/6c9c5b89ab2cb44b15d1e0d0cf6b672d.jpg");
    background-repeat: no-repeat;
    width: 1210px ;
    background-size: 100%;
    animation: fadeInUp 0.8s ease;
}
.project-section h2{
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.project-card {
    gap: 10px;
    background-color: rgba(249, 204, 211, 0.556);
    border-radius:10px;
    padding: 20px;
    object-fit: cover;
    object-position: center;
}
.project-card img{
    height: 300px;
    width: 400px;
    border-radius: 5px;
}
.project-card:hover{
    border: 2px solid black;
    gap: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.project-card h3{
    color: brown;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
    font-size: 20px;
}
.project-card p{
    color: rgb(42, 4, 4);
    font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.project-tags{
    color: rgb(225, 56, 5);
    margin-bottom: 20px;
}
.project-card h3:hover{
    color: rgb(15, 15, 15);
}
.button{
    color: rgb(2, 2, 32);
    text-decoration: none;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 8px;
    background-color: transparent;
}
.button:hover{
    color:red;
}

/* CONTACT SECTION */
.contact-section {
    background: url("https://i.pinimg.com/1200x/f6/7b/39/f67b39015118b45e85b24a6a91972a93.jpg");
    background-repeat: no-repeat;
    width: 1210px;
    background-size: cover;
    height: 70vh;
}
.contact-section h2{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}
.form-group {
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 8px;
    color: rgb(49, 2, 2);
    display: block;
}
.form-group input,
.form-group textarea {
    width: 300px;
    padding: 14px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
}
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: gray;
}
section h2 {
    text-align: centre;
    margin-bottom: 50px;
}
section {
    padding: 80px;
}
#contact-form {
    max-width: 600px;
    padding-left: 400px;
}
.submit {
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: gray;

}
.submit:hover {
    background-color: rgb(0, 0, 0); 
    color: white;
    transition: 0.2s;
}
/* for dark mode */
body:not(.light-theme) {
    background-color: white;
    color: black;
}
body:not(.light-theme).navbar {
    background-color: white;
    color: black;
}
body:not(.light-theme).nav-links a{
    color: black;
}
body:not(.light-theme).nav-links a:hover {
    color: aqua;
}
body:not(.light-theme) .hero-section{
    padding: 190px;
    text-align: center;
    background: url("https://i.pinimg.com/736x/4f/9d/74/4f9d749ee4b8f28e66e4c5c80517f1da.jpg");
    background-repeat: no-repeat;
    width: 980px;
    background-size:100%;
}
body:not(.light-theme) .hero-section h1{
    color:white;
}
body:not(.light-theme) .tagline {
    color: rgb(192, 188, 188);
}
body:not(.light-theme) .btn-primary{
    background-color: transparent;
    color: rgb(241, 153, 153);
}
body:not(.light-theme) .btn-primary:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(241, 153, 153);
}
body:not(.light-theme) .btn-secondary {
    background-color: transparent;
    color: rgb(241,153, 153);
}
body:not(.light-theme) .btn-secondary:hover{
    background-color: black;
    color:rgb(241,153, 153);
}
body:not(.light-theme) .about-section{
    background: url("https://i.pinimg.com/1200x/df/78/af/df78af5e39d635f212a439cec6149c42.jpg");
    color: white;
}
body.light-theme .about-content{
    color: antiquewhite;
}
body:not(.light-theme) .about-section h2{
    color: white;
}
body:not(.light-theme) .about-text{
    color: white;
}
body:not(.light-theme) figcaption{
    color:beige;
}
body:not(.light-theme) .skills-section{
    background: url("https://i.pinimg.com/1200x/7a/75/53/7a7553a3de77ad770570cffadf9149ae.jpg");
    background-repeat: no-repeat;
    width: 1200px ;
    background-size: 100%;
    text-align: center;
}
body:not(.light-theme) .skills-section h2{
    color: white;
}
body:not(.light-theme) .project-section{
      background: url("https://i.pinimg.com/736x/c6/13/7e/c6137e506f7f5bfcf4e12c2212c3318a.jpg");
      background-repeat: no-repeat;
        width: 1210px ;
        background-size: 100%;
        animation: fadeInUp 0.8s ease;
}
body:not(.light-theme) .project-section h2{
  color: white;
}
body:not(.light-theme) .project-card{
    background-color: rgba(85, 84, 84, 0.532);
    border-color: rgb(8, 9, 9);
}
body:not(.light-theme) .project-card:hover{
    background-color: transparent;
    border-color: black;
}
body:not(.light-theme) .button:hover{
    color:black;
}
body:not(.light-theme) .project-card h3{
    color: beige;
}
body:not(.light-theme) .project-card p{
    color: lightpink;
}
body:not(.light-theme) .project-tags{
    color: rgb(241, 122, 122);
}
body:not(.light-theme) .project-grid a{
    color: white;
}
body:not(.light-theme) .contact-section{
      background: url("https://i.pinimg.com/1200x/7a/5e/8e/7a5e8efa4d7644e054fb4e4517c8bf00.jpg");
      background-repeat: no-repeat;
        width: 1210px;
        background-size: cover;
        height: 70vh;
}body:not(.light-theme) .contact-section h2{
    color:white;
}
body:not(.light-theme) .form-group label{
    color: white;
 
}
body:not(.light-theme) .form-group input,
body:not(.light-theme) .form-group textarea{
    background-color: azure;
    color: darkcyan;
    border-color: black;
}
body:not(.light-theme) .form-group input:focus,
body:not(.light-theme) .form-group textarea:focus{
    border-color: gray;
}
body:not(.light-theme) .form-group input:hover,
body:not(.light-theme) .form-group textarea:hover{
    border-color: black;
}
body:not(.light-theme) footer{
    background-color: black;
}
body:not(.light-theme) footer p{
    color: white;
}
body:not(.light-theme) footer a{
    color: darkcyan;
    border-color: darkcyan;
}